##
# Overseerr - Media discovery and request management service https://overseerr.dev/
# Install: https://docs.overseerr.dev/getting-started/installation
##  
services:
  overseerr:
    container_name: overseerr
#    image: sctx/overseerr:latest
    image: sctx/overseerr:develop
    depends_on: 
      - nginx-proxy-manager
      - radarr
      - sonarr
    network_mode: 'host' # Use host networking for better performance
    restart: unless-stopped
    environment:
      - LOG_LEVEL=debug
      - TZ=America/Los_Angeles
    ports:
      - 5055:5055
    volumes:
      - ${APP_CONFIG}/overseerr:/app/config # Moved outside of docker for portability

