##
# Base environment variables for the Docker containers
# Copy this file to .env and fill in the values
##
HOST_MOUNT="/media/your-user/your-mount" # Linux host mount point

# Platform agnostic paths
APP_CONFIG="${HOST_MOUNT}/config"                       # Single host mountpoint for all config, backup, and media files
APP_BACKUP="${HOST_MOUNT}/backups"                      # Sonarr, Prowlarr, Radarr, SABnzbd backups
PLEX_MEDIA="${HOST_MOUNT}/data"                         # Plex, torrent, nzb directories
PLEX_TRANSCODE_TEMP="${HOST_MOUNT}/plex-transcode-temp" # Plex transcode temp folder
HOSTNAME="your-hostname"                                # Used by Notifiarr

# Secrets
NOTIFIARR_API_KEY=your-notifiarr-api-key
