##
# My Plex services stack 
##

include: 
  - nginx-proxy-manager.yml # Proxy server
  - sabnzbd.yml             # Usenet downloader
  - qbittorrent.yml         # Torrent downloader
  - apprise.yml             # Notification automation service
  - notifiarr.yml           # Server notification service
  - sonarr.yml              # TV show download automation
  - radarr.yml              # Movie download automation
  - seerr.yml               # Media discovery and request service
  - atlas.yml               # Network infrastructure visualizer

  - plex/compose.yml                # Plex media server 

# Optional services
  - portainer.yml           # Docker management UI

# Disabled services
# Not working as expected
#  - plex-music-ratings-sync/compose.yml # Sync ratings between plex and file metadata
# Offloaded to Raspberry Pi server
#  - tautulli.yml            # Plex usage monitoring
#  - prowlarr.yml            # Torrent and Usenet indexer
# It did not work as expected and I was too lazy to figure it out. Am updating manually
#  - watchtower.yml          # Automatic image upgrade 
